* {
    font-family: 'poppins', sans-serif;
}

:root {
    --color-neutral-0:#0D131B;
    --color-neutral-1:#2982B6;
}

body {
    background-color: var(--color-neutral-0);
}

#site_header {
    display: flex;
    background-color: var(--color-neutral-1);
}

#site_header h1 {
    margin: 0;
    padding-top: 19px;
    padding-bottom: 25px;
    padding-left: 6%;
    font-size: 75px;
    font-weight: 700;
}

#site_menu {
    display: flex;
}

#site_menu #menu_button {
    display: flex;
    padding-left: 7.5rem;
    align-items: center;
    font-size: 53px;
    text-decoration: none;
    color: var(--color-neutral-0);
}

#site_menu #menu_button:hover {
    opacity: 0.9;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap')