* {
    font-family: 'poppins', sans-serif;
}

:root {
    --color-neutral-0:#0D131B;
    --color-neutral-1:#2982B6;
    --color-neutral-2: #151F2B;
    --color-neutral-3: #4FCB43;
    --color-neutral-4: #2B6226;
}

marquee {
    background-color: #151F2B;
    color: #2982B6;
    font-weight: 700;
    padding-top: 4px;
    padding-bottom: 4px;
}

body {
    background-color: var(--color-neutral-0);
    margin: 0;
    padding: 0;
    height: 100vh;
}

#site_header {
    display: flex;
    background-color: var(--color-neutral-1);
}

#site_header h1 {
    margin: 0;
    padding-top: 19px;
    padding-bottom: 25px;
    padding-left: 6%;
    font-size: 75px;
    font-weight: 700;
}

#site_menu #menu_button {
    display: flex;
    margin-left: 270%;
    align-items: center;
    font-size: 53px;
    text-decoration: none;
    color: var(--color-neutral-0);
}

#site_menu i:hover {
    color: #283950;
    transition: 0.1s;
    font-size: 54px;
}

#site_menu {
    display: flex;
}

img {
    display: flex;
    position: absolute;
    width: 300px;
    background-color: #fff;
    padding-left: 150px;
    padding-right: 75px;
    padding-top: 10px;
    margin-top: 14px;
    margin-left: 14px;
}

#site_image h1 {
    display: inline;
    position: absolute;
    background-color: var(--color-neutral-3);
    color: var(--color-neutral-4);
    margin-left: 428px;
    margin-top: 30px;
    font-size: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 17px;
    padding-right: 10px; 
    border-bottom: 4px solid #2B6226;
}

#site_title h1 {
    display: flex;
    margin-top: 65%;
    font-size: 25px;
    color: #8D8D8D;
    margin-left: 19px;
}

p {
    background-color: #283950;
    font-size: 2px;
    margin-top: 32px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap')